<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gif动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E20BDA91F132A6300C17327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E20BDC21F132A6300C17327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E20BDCD1F132A6300C17327</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
